{% extends 'base.html' %}
{% load static %}



{% block my_style %}
<link href="{% static 'css/my_styles.css' %}" rel="stylesheet" />
{% endblock my_style %}


{% block title %}
Blog 목록
{% endblock title %}

{% block main_area %}

<!-- Page content-->
<section class="container">
    
    {% if user.is_authenticated %}
        {% if user.is_superuser or user.is_staff %}
            <a class= "bnt btn-info btn-sm float-right" href="/blog/create_post/" role="button"><i class="fas fa=pen"></i>&nbsp;new Post&nbsp;</a>
        {% endif %}
    {% endif %}    
    
    <h2>Blog
        {% if category %}<span class="badge bg-secondary">{{ category }}</span>{% endif %}
        {% if tag %}<span class="badge bg-secondary">{{ tag }}</span>{% endif %}
    </h2>
    <div class="row">
        <!-- Blog entries-->
        <div class="col-lg-8">
            {% if post_list.exists %}
            <!-- 게시물이 존재한다면 출력 -->
            
                <!-- blog post-->
                {% for p in post_list %}
                <div class="card mb-4">
                    <a href="#!"><img class="card-img-top" src="https://picsum.photos/seed/{{p.id}}/800/200"
                            alt="..." /></a>
                    <div class="card-body">
                        <p class = "text-end" style="margin: 0; padding: 0;" > <span class = "badge bg-secondary">{{p.Category}}</span></p>
                        <h2 class="card-title">{{ p.title }}</h2>
                        {% if post.hook_text %}
                        <h5 class="text-muted">{{ post.hook_text }}</h5>
                        {% endif %}
                        <p class="card-text">{{ p.content | truncatewords:45 | safe }}</p>

                        {% if p.tags.exists %}
                            <i class="fas fa-tags"></i>
                            {% for tag in p.tags.iterator %}
                                <a href="{{ tag.get_absolute_url }}"><span class=" badge badge-pill bg-light">{{ tag }}</span></a>
                            {% endfor %}
                        {% endif %}

                        <a class="btn btn-primary" href="{{ p.get_absolute_url }}">Read more &rarr; →</a>
                    </div>
                </div>
                {% endfor %}
            {% else %}
            <h3>아직 게시물이 없습니다.</p>
            {% endif %}
            <!-- Pagination-->
            {% if is_paginated %}
            <nav aria-label="Pagination">
                <hr class="my-0" />
                <ul class="pagination justify-content-center my-4">
                    <!-- 이전 페이지로 돌아가기 -->
                    {% if page_obj.has_previous %}
                    <!-- 이전 페이지 객체가 있으면 [prev]버튼 활성화 -->
                    <li class="page-item">
                        <a class="page-link"
                            href="{% url 'blog:post_list' %}?page={{ page_obj.previous_page_number }}"
                            tabindex="-1">Prev</a>
                    </li>
                    {% else %}
                    <!-- 이전페이지 객체가 없으면 [prev]버튼 비활성화 -->
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Prev</a>
                    </li>
                    {% endif %}
                    <!-- 페이지를 번호로 출력하기 -->
                    {% for page in page_obj.paginator.page_range %}
                    <!-- 현재 선택한 페이지 번호는 비활성화 시킴 -->
                    {% if page_obj.number == forloop.counter %}
                    <li class="page-item disabled" aria-current="page">
                        <a class="page-link" style="background-color: #7eacf6;"
                            href="{{ request.path }}?page={{ forloop.counter }}">{{ forloop.counter }}</a>
                    </li>
                    {% else %}
                    <!-- 현재 선택한 페이지 번호는 활성화 시킴 -->
                    <li class="page-item" aria-current="page">
                        <a class="page-link" href="{{ request.path }}?page={{ forloop.counter }}">{{forloop.counter }}</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                    <!-- 다음 페이지로 가기 -->
                    {% if page_obj.has_next %}
                    <!-- 이전페이지 객체가 있으면 [Next]버튼 활성화 -->
                    <li class="page-item">
                        <a class="page-link"
                            href="{% url 'blog:post_list' %}?page={{ page_obj.next_page_number }}">Next</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#">Next</a>
                    </li>
                    {% endif %}

                </ul>
            </nav>
            {% endif %}
        </div>
    {% include 'blog/side_widgets.html' %}
    </div>
</section>

{% endblock main_area %}